# modified Allowlisting gitignore
# Ignore everything
*

!/.dockerignore
!/.gitignore
!/.gitkeep

!LICENSE
!VERSION
!Makefile

!README.md

# go
!go.sum
!go.mod
!main.go
!cmd/**.go

# one document directory to consolidate them all
!docs/**/*.md

# track
!asb/**

# jsonnet
# explicity track some vendor-ed files
# !jsonnet/vendor/**/kube.libsonnet
# !jsonnet/vendor/**/kube-platforms.libsonnet
# !jsonnet/vendor/**/utils.libsonnet
# track the rest of our files
# !jsonnet/jsonnetfile.*
# !jsonnet/**
# but not the rest
# jsonnet/vendor/**

# but not these files or (sub)directories
!*/

# explicitly ignore
.venv/
venv/
.env
**/.terraform/**

# ignore experimentation and in-progress development
exp/**

# but don't track the ansible inventory here
asb/inventories/
asb/.collections/
asb/.vp

# no pyc
__pycache__/

# no logs
logs/
