# modified Allowlisting gitignore
# Ignore everything
*

!/.dockerignore
!/.gitignore
!/.gitkeep

!LICENSE
!VERSION
!Makefile

!README.md

# go
!go.sum
!go.mod

# one document directory to consolidate them all
!docs/**/*.md

# track
!asb/**

# nrf
!nrf/**

# but not these files or (sub)directories
!*/

# explicitly ignore
.venv/
venv/
.env
**/.terraform/**

# ignore experimentation and in-progress development
exp/**

# but don't track the ansible inventory here
asb/inventories/
asb/.collections/
asb/.vp

# no pyc
__pycache__/

# no logs
logs/
